<h1>Observable data</h1>
<ul *ngFor="let data of data">
  <li>{{data}}</li>
</ul>
<button (click)="getAllData()">Get data</button>


<!-- <div class="div" id="container">

</div>
<button #createBtn>Create Obserable</button> -->



<app-new-task></app-new-task>
<app-show-task></app-show-task>
<app-subject></app-subject>
<app-unsubscribe></app-unsubscribe>


<h1>Lazy Loading</h1>

<h2>Admin Links</h2>
<li><a routerLink="admin/login">login</a></li>
<li><a routerLink="admin/list">list</a></li>
<hr>
<h2>User Links</h2>
<li><a routerLink="user/login">login</a></li>
<li><a routerLink="user/list">list</a></li>
<router-outlet></router-outlet>













